table{
  border-collapse: collapse;
  width: 100%;  
}

th, td{
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #add
}
nav :hover{
  background-color: blueviolet;
  margin: 15px;
  text-decoration: none;
}

canvas{
  max-width: 100%;
  height: 300px;
}


tr:hover{background-color: blueviolet;}

