table{
    border-collapse: collapse;
    width: 100%;
}

th,td{
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #add
}

tr:hover{background-color: rgb(11, 192, 237);}
th{
    background-color: blue;
}
